@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&family=Major+Mono+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'arb';
    src: url('fonts/ae_alarabiya.ttf') format('truetype');
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: ease 0.5s;
    z-index: 2;
    cursor: default;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#DDDDDD;
}

.container{
    width: 600px;
    height: 780px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
}

.flip-card {
    background-color: transparent;
    position: absolute;
    top: -50px;
    width: 400px;
    height: 250px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(10deg) rotateX(10deg);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(170deg) rotateX(-10deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background: linear-gradient(
        225deg,
        rgba(255,218,115,1) 0%,
        rgba(232,176,33,1) 22%,
        rgba(255,237,111,1) 62%,
        rgba(237,194,82,1) 88%
    );
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.golden{
    background: linear-gradient(
        -225deg,
        rgba(232,176,33,1) 0%,
        rgba(255,255,255,1) 16%,
        rgba(237,194,82,1) 40%,
        rgba(172,121,30,1) 87%,
        rgba(172,121,30,1) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; 
    font-family: 'arb';
}

.title{
    font-size: 1.8rem;
    width: fit-content;
    position: absolute;
    top: 10px;
    left: 20px;
    perspective: 600;
    transform-style: preserve-3d;
}

.backColor{
    background: radial-gradient(circle, rgba(20,150,212,1) 0%, rgba(17,17,43,1) 88%);
    width: 400px;
    height: 750px;
    position: absolute;
    top: -500px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.grandpost{
    width: 100px;
    height: 130px;
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translateY(-50%);
}

.logo{
    height: auto;
    width: 60px;
    position: absolute;
    top: 15px;
    left: calc(100% - 70px);
}

.palm{
    width: auto;
    height: 70px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%) scaleX(-1);
    left: 35%;
}

.tit{
    position: absolute;
    width: 120px;
    top: 30%;
    left: 22%;
}

.selver{
    position: absolute;
    opacity: 90%;
    top: 35%;
    left: 68%;
    width: 90px;
    height: 65px;
    border-radius: 8px;
    background: linear-gradient(191deg, rgba(187,187,187,1) 0%, rgba(226,226,226,1) 63%, rgba(205,205,205,1) 100%);
}

.chip{
    position: absolute;
    width: 100px;
    height: 90px;
    top: 20%;
    left: 5px;
}

.card-number{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 5.5px;
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 9px;
    transform: translateZ(20px);
    filter: drop-shadow(-2px 2px 0.5px rgb(3, 2, 0));
    perspective: 1000px;
}

#cn4{
    padding-right: 8px;
}

#cn8{
    padding-right: 8px;
}

#cn12{
    padding-right: 8px;
}

#cvv{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins";
    font-size: 1rem;
}

.pd2{
    width: 2px;
    height: 2px;
}

.card-date{
    font-size: 0.8rem;
    position: absolute;
    top: 73%;
    left: 35px;
    transform: translateZ(20px);
}

.cd{
    font-family: "Poppins", serif;
    font-size: 1rem;
    transform: translateZ(20px);
    filter: drop-shadow(-2px 2px 0.5px rgb(0, 0, 0));
}

.triangle{
    width: 40px;
    position: absolute;
    top: 75%;
    left: 10px;
}

.card-name{
    font-size: 1.1rem;
    font-family: "Poppins", serif;
    position: absolute;
    top: 82%;
    left: 35px;   
    letter-spacing: 5px;
    transform: translateZ(20px);
    filter: drop-shadow(-2px 2px 0.5px rgb(0, 0, 0));
}

.black-tip{
    width: 100%;
    height: 60px;
    background-color: black;
}

.warn{
    width: 100%;
    text-align: center;
    font-size: 0.6rem;
}

.card-cvv{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.cvv-info{
    font-size: 0.8rem;
    font-family: "Poppins", serif;
    font-weight: 500;
    padding: 0 10px;
}

.white-tip{
    background-color: white;
    width: 60%;
    margin-left: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.3rem;
    font-family: "Poppins", serif;
    padding: 0 20px;
    border-radius: 5px;
}

.ar{
    text-align: right;
    padding: 0 10px;
}

.fr{
    text-align: left;
    padding: 0 10px;
}

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 0.5rem;
    font-family: "Poppins", serif;
}

.build{
    position: absolute;
    width: 150px;
    top: 22%;
    left: 45%;
}

.inp{
    width: 80%;
    height: 55px;
    border: 2px solid #33333336;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 30px;
    padding: 10px;
    font-family: "Poppins", serif;
    font-size: 1rem;
}

input[type=text]{
    font-size: 1.1rem;
    letter-spacing: 2px;
}

input[type=text]:focus{
    outline: none;
    border: 2px solid rgb(29, 128, 194);
    text-align: left;
}

.mini{
    width: 100px;
}

label{
    width: 80%;
    font-family: "Poppins", serif;
    font-size: 1rem;
    color: #333;
    text-align: left;
    padding: 5px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
}

.frt{
    margin-left: auto;
    text-align: right;
}

#expYear{
    margin-left: 30px;
}

.subbut{
    width: 80%;
    height: 55px;
    background-color: rgb(29, 128, 194);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "poppins";
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 15%;
    margin-top: 10px;
}

.subbut:hover{
    transform: scale(1.01);
    opacity: 80%;
}

.current-input{
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(115, 153, 179);
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 66;
    opacity: 0%;
    filter: drop-shadow(0px 0px 5px rgb(83, 110, 141));
}