:root{
    --dark: #0E1621;
    --light: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light);
    transition: 0.5s ease;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    transition: ease 0.5s;
}

.dark,
.light{
    font-size: 3rem;
    color: var(--dark);
    display: inline-block;
    transition: ease 0.5s;
}

.light{
    display: none;
}

.container:hover i{
    transform: scale(1.1);
}